<form action="/users/<%= userId %>/posts" method="POST">
  <label for="post-content">Write your post</label>
  <input name="content" rows="5" type="text">

  <button type="submit">Make Post</button>
</form>
