<form action="/signup" method="POST">
  <label for="new-username">Username</label>
  <input type="text" name="username" id="new-username">
  <br>
  <label for="new-password">Password</label>
  <input type="text" name="password" id="new-password">
  <br>
  <label for="new-name">Name</label>
  <input type="text" name="name" id="new-name">
  <br>
  <label for="new-email">Email</label>
  <input type="text" name="email" id="new-email">
  <br>
  <button type="submit" name="button">Sign Up</button>
  <% if (typeof(errorMessage) !== 'undefined') { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>
</form>

<a href="/login">Have an account? Login</a>
